
body{
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
.big_blue {
    position: fixed;
    width: 210px;
    height: 100%;
    background-color: #0060A8;
    color: white;
}
.logo{
    
    font-size: 20px;
    font-weight: 700;
    height: 70px;
}
.logo_okky{
   
   display: inline-block;
   position: relative;
    bottom: 10px;
    margin-top: 0px;
   margin-bottom: 0;
}

#home{
    font-size: 16px;
    
}
#logo_image
{   
    
    margin-top: 10px;
    margin-left: 20px;
    height: 45px;
}
.search_bar{
    box-sizing: border-box;
    margin-bottom: 35px
}
#input_wrapper{
   
    display: inline-block;
    text-align: center;
    background-color: white;
    width: 130px;
    height: 30px;
    margin-left: 20px;
}

#input{
    border: 0;
    margin-bottom: 7px;
    margin-left: 3px;
    width: 90%;
    outline: 0;
}

#s_button{
    
    display: inline-block;
    position: relative;
    right: 5px;
    height: 25px;
    width: 20px;
    box-sizing: content-box;
    padding-bottom: 3px;
    border:1px solid #00589A;
}


.LOGINnSIGN{
    
    margin-bottom: 110px;
}

.login_button{
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    font-size: 0.75rem;
    border: solid 1px #00589A;
    padding: 10px;
    width: 50%; 
    
}
.sign_up
{
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    right: 0;
    text-align: center;
    font-size: 0.75rem;
    border: solid 1px #00589A;
    padding: 10px;
    width: 50%;
    
}
.QnA{
    height: 50px;
    margin-bottom: 15px;
}
#qna_img{
    display: inline-block;
    height: 35px;
    position: relative;
    left:7px;
    top:5px;
}
.qna_txt{
    
    display: inline-block;
    position: relative;
    left:8px;
    bottom:7px;
}

jobs .qna_txt{
    display: inline-block;
    position: relative;
    left:8px;
    bottom:7px;
    
}
.Tech {
    height: 50px;
    margin-bottom: 15px;
}

.community {
    height:50px;
    margin-bottom: 15px;
}

.column {
    height:50px;
    margin-bottom: 15px;
}

.jobs {
    height:50px;
    margin-bottom: 15px;
}

#tech_img {
     display: inline-block;
    height: 35px;
    position: relative;
    left:7px;
    top:5px;
}

#comm_img {
     display: inline-block;
    height: 35px;
    position: relative;
    left:7px;
    top:5px;
}

#jobs_img {
     display: inline-block;
    height: 35px;
    position: relative;
    left:7px;
    top:5px;
}

#colu_img {
     display: inline-block;
    height: 35px;
    position: relative;
    left:7px;
    top:5px;
}

#git_img {
    
}
